---
layout: default
---
  <head> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-58264934-3');
</script>  </head>
<main class="main container">
<article class="article  article--page  content  typeset">
    {{ content }}
</article>
{% include site-aside.html %}
</main>